body {
  margin: 0 !important;
  padding: 0 !important;
}

#email-label,
#selected-file,
#pick-file {
  font-size: 25px;
}

#email-error, #upload-failed {
  font-size: 20px;
  color: red;
}

#upload-success {
    font-size: 20px;
    color: rgb(2, 187, 2);
}